html,
body {
  height: 100%;
  overflow: hidden;
}
#panel-drawer {
  background: #f7f7f7;
  border-right: 1px solid #ddd;
  position: fixed;
  width: 260px;
  height: 100vh;
  margin: 0;
  position: relative;
}
#panel-drawer .spin-caret {
  float: right;
}
#panel-drawer.drawer-off {
  left: -260px;
  transition: all ease 0.3s;
}
#panel-drawer.drawer-on {
  left: 0;
  transition: all ease 0.3s;
}
#panel-drawer .panel-group {
  margin-bottom: 0;
}
#panel-drawer .panel-group .panel {
  border-right: none;
  border-left: none;
  box-shadow: none;
}
#panel-drawer .panel-group .panel:first-child {
  border-top: none;
}
#panel-drawer .panel-group .panel + .panel {
  margin-top: 0;
  border-top: none;
}
#panel-drawer .drawer-footer {
  position: absolute;
  bottom: 55px;
  z-index: 100;
  display: block;
  width: 100%;
  height: 20px;
}
#page {
  background: #fff;
  margin-left: 260px;
  padding: 20px;
  width: calc(100% - 260px);
}
#page.drawer-off {
  margin-left: 0;
  width: 100%;
  transition: all ease 0.3s;
}
#page.drawer-on {
  margin-left: 260px;
  width: calc(100% - 260px);
  transition: all ease 0.3s;
}
#menu-vertical * {
  border-radius: 0;
}
.navbar {
  border-radius: 0;
}
.navbar-default {
  margin-bottom: 0;
}
.navbar-header {
  width: 244px;
  margin-left: 0;
}
.spin-caret {
  transform: rotate(180deg);
  transition: transform ease .3s;
}
.collapsed .spin-caret {
  transform: rotate(0);
  transition: transform ease .3s;
}
@media all and (max-width: 640px) {
  #panel-drawer {
    width: 64px;
  }
  #panel-drawer .list-group-item {
    text-align: center;
  }
  #panel-drawer .panel-title {
    text-align: center;
  }
  #panel-drawer .spin-caret {
    float: none;
  }
  .navbar-header {
    width: 100%;
  }
  .navbar-toggle {
    margin-right: 0;
  }
  #page {
    margin-left: 64px;
    width: calc(100% - 64px);
  }
  #page.drawer-on {
    margin-left: 64px;
    width: calc(100% - 64px);
    transition: all ease 0.3s;
  }
}
